@import url('https://fonts.googleapis.com/css?family=Consolas');

body {
	font-family: 'Consolas', monospace;
	margin: 0;
	padding: 0;
}

.theme-dark {
	background-color: rgb(43, 43, 43);
	color: #fff;
}

.theme-light {
	background-color: rgb(255, 255, 255);
	color: #dddddd;
}

#terminal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
	height: 500px;
	border-radius: 10px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

.theme-dark #terminal {
	background-color: black;
	color: white;
}

.theme-light #terminal {
	background-color: rgb(240, 240, 240);
	color:black;
}

.terminal-header {
	height: 30px;
	background-color: #fff;
	color: #000;
	display: flex;
	align-items: center;
	padding: 0 10px;
}

.terminal-header span {
	flex: 1;
	text-align: center;
    font-weight: bolder;
}

.button {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	margin-right: 5px;
}

/*light-theme*/
.theme-light ::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(240, 240, 240);
  }
  
.theme-light ::-webkit-scrollbar-thumb {
    background-color: rgb(209, 209, 209);
    border-radius: 5px;
}

/*dark-theme*/
.theme-dark ::-webkit-scrollbar {
    width: 10px;
    background-color: #000000;
  }
  
.theme-dark ::-webkit-scrollbar-thumb {
    background-color: rgb(24, 24, 24);
    border-radius: 5px;
}

.close {
	background-color: #ff3b3b;
}

.minimize {
	background-color: #ffc200;
}

.expand {
	background-color: #00ca00;
}

.terminal-body {
	height: calc(100% - 30px);
	padding: 10px;
	overflow-y: scroll;
	scrollbar-color: #666666 #2b2b2b;
	scrollbar-width: thin;
}


/*dark-theme*/
.theme-dark a{
    color:white;
    text-decoration: none;
}

.theme-dark a:visited{
    color: white;
	font-weight: bold;
}

.theme-dark a:hover{
    font-style: italic;
    color: white;
}

.theme-dark a:visited:hover{
    font-style: italic;
    color: white;
    text-decoration: none;
}

/*light-theme*/
.theme-light a{
    color:black;
    text-decoration: none;
}

.theme-light a:visited{
    color: black;
	font-weight: bold;
    text-decoration: none;
}

.theme-light a:hover{
    font-style: italic;
    color: black;
}

.theme-light a:visited:hover{
    font-style: italic;
    color: black;
	font-weight: bold;
    text-decoration: none;
}

.terminal-body p {
	margin: 0;
	line-height: 1.5;
    font-size:medium;
} 

.label-text {
    display: inline-block;
    width: 150px;
    font-family: 'Consolas', monospace;
    text-align: right;
    padding-right: 10px;
}
    
#userInput {
    font-family: 'Consolas', monospace;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 8px;
    width: calc(100% - 200px);
}

.theme-dark #userInput{
	color: #fff;
}

.theme-light #userInput{
	color: black;
}


#output {
	margin-top: 10px;
}

  #videoBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }

  #videoOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
	z-index: -1;
  }
  
  #curtain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 9999;
    transition: transform 1s ease-in-out;
  }
  
  #content {
    position: relative;
    z-index: 10000;
    text-align: center;
    padding-top: 40vh;
    color: white;
  }
  
  h1 {
    font-size: 36px;
  }

  div{
	z-index: 1;
  }


  button {
	position: relative;
	border: none;
	background: transparent;
	padding: 0;
	cursor: pointer;
	outline-offset: 4px;
	transition: filter 250ms;
	user-select: none;
	touch-action: manipulation;
   }
   
   .shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 12px;
	background: hsl(0deg 0% 0% / 0.25);
	will-change: transform;
	transform: translateY(2px);
	transition: transform
	   600ms
	   cubic-bezier(.3, .7, .4, 1);
   }
   
   .edge {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 12px;
	background: linear-gradient(
	   to left,
	   hsl(340deg 100% 16%) 0%,
	   hsl(340deg 100% 32%) 8%,
	   hsl(340deg 100% 32%) 92%,
	   hsl(340deg 100% 16%) 100%
	 );
   }
   
   .front {
	display: block;
	position: relative;
	padding: 12px 27px;
	border-radius: 12px;
	font-size: 1.1rem;
	color: white;
	background: hsl(345deg 100% 47%);
	will-change: transform;
	transform: translateY(-4px);
	transition: transform
	   600ms
	   cubic-bezier(.3, .7, .4, 1);
   }
   
   button:hover {
	filter: brightness(110%);
   }
   
   button:hover .front {
	transform: translateY(-6px);
	transition: transform
	   250ms
	   cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .front {
	transform: translateY(-2px);
	transition: transform 34ms;
   }
   
   button:hover .shadow {
	transform: translateY(4px);
	transition: transform
	   250ms
	   cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .shadow {
	transform: translateY(1px);
	transition: transform 34ms;
   }
   
   button:focus:not(:focus-visible) {
	outline: none;
   }